$colored: red;
$padding: 4px;

.heading{
  color: $colored;
  text-align: center;
}
.content{
  padding: $padding;
}
.other-content{
  background-color: $colored;
  color: white;
  margin-top: 10px;
  padding: $padding;
}
img{
  min-height: 50px;
}
img:before{
  background-color: rgb(230, 230, 230);
  border: 2px dotted rgb(200, 200, 200);
  border-radius: 5px;
  content: " ";
  padding: $padding;
}
img:after {
  content: attr(alt);
  color: rgb(100, 100, 100);
  display: block;
  z-index: 2;
  margin-top: -1.2rem;
}
